.PostContent{
    width: 100%;

}

.title{
    margin: 0;
    color: #EEF1F3;
    font-size: 18px;
    margin-bottom: 8px;
}
.description{
    margin: 0;
    color: #B7CAD4;
    font-size: 14px;
}
.images{
    margin-bottom: 8px;
}
.linkTo{
    font-size: 14px;
    color: #6483fc;
    text-decoration: none;
    margin-bottom: 8px;
    font-weight: 600;
}
.linkTo:hover{
    color: #68aefe;
    text-decoration: underline;
}
.video{
    margin-bottom: 8px;
}