.btn {
    color: var(--text_one);
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: center;
    padding: 0 15px;
    border-radius: 8px;
    border: none;
    background-color: var(--background_three);
  }

.btn:hover {
    cursor: pointer;
}