.line {
 width: 100%;
 height: 1px;
 background-color: #23282b;
}

.row{
display: flex;
flex-direction: row;
align-items: center;
}

.subredditImage{
width: 25px;
height: 25px;
border-radius: 50%;
}

.subredditName{

}

.posted{

}