.button{
    border-radius: 30px;
    height: 2rem; 
    width: max-content; 
    padding: 0 0.75rem; 
    background: transparent; 
    border: none; 
    display: flex; 
    align-items: center; 
    gap: 10px
}
.buttonRound{
    width: 2rem;
    border-radius: 30px;
    height: 2rem; 
    padding: 0 0.75rem; 
    background: transparent; 
    border: none; 
    display: flex; 
    align-items: center; 
    gap: 10px
}

.button:hover{
    background-color: var(--background_three);
    cursor: pointer;
}

.buttonRound:hover{
    background-color: var(--background_three);
    cursor: pointer;
}