.search{
    max-width: 550px;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 40px;
    align-items: center;
    align-self: center;
    background-color: transparent;
    position: relative;
}

.searchDiv {
    max-width: 550px;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 40px;
    align-items: center;
    align-self: center;
    padding: 0 1.3rem;
    transition: outline 0.3s ease;
    position: relative;
    z-index: 600;
}


.searchDiv:focus-within {
    outline: solid #149EF5;
}

.searchInput {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 0.9rem;
    color: white;
    caret-color: white;
    z-index: 500;
}

.searchInput:focus {
    border: none;
    outline: none;
    caret-color: white;
}

.recentContainer{
    position: absolute;
    height: max-content;
    width: 100%;
    left: 0;
    top: 15px;
    background-color: var(--background_four);
    z-index: 400;
    border-radius: 5px 5px 15px 15px;
    box-shadow: 0px 0px 5px var(--background_two);
    padding: 1.3rem 0 0 0;
}

.recentButton{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.3rem;
    background-color: transparent;
    align-items: center;
}

.recentButton:hover{
    background-color: var(--background_three);
    cursor: pointer;
}

.deleteButton{
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text_one);
}

.cross{
    color: var(--text_one);
    width: 8px;
    height: 8px;
}


.deleteButton:hover{
    cursor: pointer;
    border-color: red;
}
.deleteButton:hover .cross{
    color: red;
}

.overlay{
    position: absolute;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 300;
    right: 100px;
    left: 310px;
    transform: translate(-50%, -50%);
    bottom: -1335px;
}