
.dropdownButton {
    display: flex;
    flex-direction: column;
  }
  

  .dropdownMenu {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
  }
  

  .dropdownMenuOpen {
    height: auto;
    opacity: 1;
  }
  
  .li {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: center;
    padding: 0 15px;
    border-radius: 8px;
  }
  
  .li:hover {
    background-color: #191c1e;
    cursor: pointer;
  }
  
  .handleDropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    color: #979ea1;
    background-color: #0f1113;
    border: none;
    padding: 0 15px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .handleDropdown:hover {
    background-color: #191c1e;
    cursor: pointer;
  }
  
  .arrowIcon {
    color: white;
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  
  .arrowDown {
    transform: rotate(0deg);
  }


  