.Content::-webkit-scrollbar{
    background-color: var(--background_one);
    max-width: 10px;
}

.Content::-webkit-scrollbar-thumb{
    background-color: #4c4c4c;
    border-radius: 10px;
}

@media only screen and (max-width: 1500px){
    
}