.horizontal-line{
    height: 1px;
    background-color: #393B3C;
}

.hole{
    width: 265px; 
    min-width: 265px;
    border-right: solid 1px var(--lines); 
    padding: 20px; 
    gap: 15px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.hole::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width: 1400px){
    .hole{
        display: none;
    }
}