.listOfCommunities{
    padding: 20px 15px;
    padding-bottom: 0px;
    overflow: auto;
}

.listOfCommunities::-webkit-scrollbar{
    background-color: var(--background_one);
    max-width: 10px;
}

.listOfCommunities::-webkit-scrollbar-thumb{
    background-color: #4c4c4c;
    border-radius: 10px;
}

.seeMore{
    background-color: var(--secondary); 
    border-radius: 30px; 
    color: var(--text_one); 
    border: none;
    font-size: 12px; 
    font-weight: 500;
    padding: 9px 10px;
}
.seeMore:hover{
    background-color: var(--hover2);
    cursor: pointer;
}