.button{
    background: transparent; 
    min-width: max-content;
    height: 40px; 
    border-color: #979EA1;
    border-style: solid;
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
    padding:  10px 15px;
    border-radius:30px; 
    margin: 0 5px;
}
.button:hover{
    border-color: white;
    cursor: pointer;
}